{# See LICENSE for info about reusing this file; in its original form it came from http://manuelmoreale.com/ #}
<!DOCTYPE HTML>
<html>
  {% include "header.jinja.html" %}
  <body class="page-{{intended_template}}">
    <main class="main">
      {% include "text.jinja.html" %}
      {% include "archive.jinja.html" %}
      {% include "footer.jinja.html" %}
    </main>
  </body>
</html>
<!-- All the UI stuff is based on http://theme.manuelmoreale.com/one/ which I highly recommend you check out.-->
